BLOCK RESETPATHS;
LOCATE COMP "nReset" SITE "5";
BLOCK ASYNCPATHS;
LOCATE COMP "Led0" SITE "4";
LOCATE COMP "DRVOFF" SITE "17";
LOCATE COMP "WAKE_SPEED" SITE "20";
LOCATE COMP "FG" SITE "21";
LOCATE COMP "i2cSDA" SITE "23";
LOCATE COMP "i2cSCL" SITE "25";
LOCATE COMP "DIR" SITE "26";
LOCATE COMP "BRAKE" SITE "27";
LOCATE COMP "nFAULT" SITE "28";
LOCATE COMP "Pin13" SITE "8";
LOCATE COMP "SDO" SITE "9";
LOCATE COMP "SDA" SITE "10";
LOCATE COMP "SCL" SITE "11"; 
LOCATE COMP "CS" SITE "12"; 
LOCATE COMP "DataRdy" SITE "13";
LOCATE COMP "TX" SITE "14"; 
LOCATE COMP "RX" SITE "16";
